* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

html,
body,
.container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $text-body;
}

p {
    margin-top: 0;
}

.btn {
    padding: 11px 28px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #4a4a4a;
    color: #fff;
    cursor: pointer;
}

.badges {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
}

.icon-social {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    span {
        position: absolute;
        right: 0;
        top: 0;
        color: #999;
        font-size: 0.73rem;
    }
}

.seperate-block {
    width: 100%;
    height: 125px;
    background-image: url(../img/Other/back-news.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: rgb(173, 166, 166);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #e0d7d7;
    }
}