/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .navbar .navbar__brand {
        margin: 0 0 0 18px;
    }
    .navbar .navbar__nav,
    .navbar .navbar__right {
        display: none;
    }
    .navbar .navbar__toggle {
        display: block;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */