@media only screen and (max-width: 600px) {
    .slideScreen .slideScreen__content {
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 100px 0 80px 0;
        .slideScreen__content-text {
            width: 73%;
            .text__content {
                margin-bottom: 20px;
            }
            .text__link {
                font-size: 0.9rem;
                margin-bottom: 13px;
            }
        }
        .slideScreen__content-text .text__title {
            font-size: 1.8rem;
            line-height: 1.6;
        }
        .slideScreen__phone {
            top: 0;
            left: 0;
            .slideScreen__phone-img {
                width: 260px;
            }
            .slideScreen__phone-slide {
                top: 9px;
                right: 7px;
                left: 9px;
                .slide__img {
                    border-radius: 25px;
                }
            }
        }
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}